@model Techshop.Models.ViewModels.OrderUpdateVm

@{
    ViewBag.Title = "Backoffice";
    Layout = "_BackofficeLayout";
}

<h2>Order's details</h2>

<div class="">

    <div class="row mt-5">
        <div class="col-2">
            <b>Order No.</b>: @Model.Order.Id
        </div>
        <div class="col-3">
            <b>Created at</b>: @Model.Order.CreatedAt
        </div>
        <div class="col-4 d-flex align-items-center">
            <div>
                <b>Status</b>: @Model.Status
            </div>

            <div class="ms-auto">
                <form asp-area="Backoffice"
                      asp-controller="Order"
                      asp-action="Update"
                      asp-route-id="@Model.Order.Id"
                      method="post"
                      class="d-flex align-items-center">
                    <select class="form-select form-select-sm" asp-for="Status">
                        <option selected>Update order status</option>
                        @foreach (var status in Model.OrderStatusValues)
                        {
                            <option value="@status">@status</option>
                        }
                    </select>
                    <button class="btn btn-sm btn-outline-primary ms-1" type="submit">Update</button>
                </form>
            </div>
        </div>

        <div class="col-3">
            <b>Completed at</b>: @Model.Order.CompletedAt
        </div>
    </div>

    <div class="row mt-3">
        <table class="table">
            <thead>
            <tr>
                <td class="col-5">Name</td>
                <td class="col-3">Quantity</td>
                <td class="col-2">Price</td>
                <td class="col-2"></td>
            </tr>
            </thead>
            <tbody>

            @foreach (var i in Model.Order.OrderItems)
            {
                <tr>
                    <td>
                        <a href="/Product/@i.ProductId">@i.Product.Name</a>
                    </td>
                    <td>@i.Quantity</td>
                    <td>@($"{(i.Product.Price * i.Quantity):C0}")</td>
                    <td></td>
                </tr>
            }

            </tbody>
        </table>
        <hr>

        <div class="container d-flex flex-row align-items-end">
            <div class="col-2"></div>

            <div class="col-2 ms-auto">
                <h5 class="align-content-lg-end">
                    Total: @($"{Model.Order.OrderItems.Sum(x => x.Quantity * x.Product.Price):C0}")
                </h5>
            </div>

            <div class="col-2"></div>
        </div>
    </div>
</div>