@model Techshop.Models.Entities.Order

@{
    ViewBag.Title = "Backoffice";
    Layout = "_BackofficeLayout";
}

<h2>Order's details</h2>

<div class="">

    <div class="row mt-5">
        <div class="col-2">
            <b>Order No.</b>: @Model.Id
        </div>
        <div class="col-4">
            <b>Created at</b>: @Model.CreatedAt
        </div>
        <div class="col-4">
            <b>State</b>: @Model.Status
        </div>
    </div>

    <div class="row mt-3">
        <table class="table">
            <thead>
            <tr>
                <td class="col-5">Name</td>
                <td class="col-3">Quantity</td>
                <td class="col-2">Price</td>
                <td class="col-2"></td>
            </tr>
            </thead>
            <tbody>

            @foreach (var i in Model.OrderItems)
            {
                <tr>
                    <td>
                        <a href="/products/@i.ProductId">@i.Product.Name</a>
                    </td>
                    <td>@i.Quantity</td>
                    <td>$ @(i.Product.Price * i.Quantity)</td>
                    <td></td>
                </tr>
            }

            </tbody>
        </table>
        <hr>

        <div class="container d-flex flex-row align-items-end">
            <div class="col-2"></div>

            <div class="col-2 ms-auto">
                <h5 class="align-content-lg-end">
                    Total: $ @Model.OrderItems.Sum(x => x.Quantity * x.Product.Price)
                </h5>
            </div>

            <div class="col-2"></div>
        </div>
    </div>
</div>