@model System.Collections.Generic.List<Techshop.Models.Entities.User>

@{
    ViewBag.Title = "Backoffice";
    Layout = "_BackofficeLayout";
}

<h2>User List</h2>

<div>

    <div class="row mt-5">
        <table class="table">
            <thead>
            <tr>
                <td class="col-1">User No.</td>
                <td class="col-2">Username</td>
                <td class="col-2">Fullname</td>
                <td class="col-2">Phone</td>
                <td class="col-3">Address</td>
                <td class="col-2">Role</td>
                @* <td class="col-2"></td> *@
            </tr>
            </thead>
            <tbody>

            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.Id</td>
                    <td>
                        <a class="btn btn-link" 
                           asp-area="Backoffice" 
                           asp-controller="User" 
                           asp-action="Info" 
                           asp-route-id="@i.Id">
                            @i.Username
                        </a>
                    </td>
                    <td>@i.FullName</td>
                    <td>@i.Phone</td>
                    <td>@i.Address</td>
                    <td>@i.Role.Name</td>
                    @* <td class="col-3"> *@
                    @*     <a class="btn btn-link" asp-area="Backoffice" asp-controller="User" asp-action="Info">Details</a> *@
                    @* </td> *@
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>