@model Techshop.Models.ViewModels.HomeVm

@{
    ViewData["Title"] = "Home Page";
}

<div class="w-100">

    <div class="mb-3 w-100">

        <form action="/Product/Search?Search=@Model.Search&CategoryId=@Model.CategoryId">

            <div class="input-group mb-3">
                <button class="btn btn-outline-secondary dropdown-toggle"
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Category
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="/Product/Search?Search=@Model.Search"
                           onclick="() => {@Model.CategoryId = -1}">
                            Tất cả
                        </a>
                    </li>
                    @foreach (var i in Model.Categories)
                    {
                        <li>
                            <a class="dropdown-item" href="/Product/Search?Search=@Model.Search&CategoryId=@i.Id"
                               onclick="() => {@Model.CategoryId = @i.Id}">
                                @i.Name
                            </a>
                        </li>
                    }
                </ul>
                <input asp-for="Search" class="form-control" placeholder="What are you looking for...">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>

        </form>
    </div>

    <div id="carouselExampleControls" class="carousel slide shadow" data-bs-ride="carousel">
        <div class="carousel-inner rounded">
            <div class="carousel-item active">
                <img src="@Url.Content("images/banner1.png")" class="d-block w-100" style="height: 375px" alt="banner1">
            </div>
            <div class="carousel-item">
                <img src="@Url.Content("images/banner2.png")" class="d-block w-100" style="height: 375px" alt="banner2">
            </div>
            <div class="carousel-item">
                <img src="@Url.Content("images/banner3.png")" class="d-block w-100" style="height: 375px" alt="banner3">
            </div>
            <div class="carousel-item">
                <img src="@Url.Content("images/banner4.png")" class="d-block w-100" style="height: 375px" alt="banner3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="mt-4 row">
        @if (Model.Products == null || !Model.Products.Any())
        {
            <div>
                You webpage seems to have no product yet!
            </div>
        }
        else
        {
            @foreach (var i in Model.Products)
            {
                <div class="mt-2 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
                    @await Html.PartialAsync("_CardProduct", i)
                </div>
            }
        }
    </div>

</div>