@model System.Collections.Generic.List<Techshop.Models.Entities.Product>

@{
    ViewBag.Title = "Backoffice";
    Layout = "_BackofficeLayout";
}

<h2>Product List</h2>

<div>
    <div class="d-flex">
        <div class="ms-auto">
            <a class="btn btn-link" asp-area="Backoffice" asp-controller="Product" asp-action="Create">Add new product</a>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <td class="col-2">Product No.</td>
                <td class="col-3">Brand</td>
                <td class="col-3">Name</td>
                <td class="col-2">Quantity</td>
                <td class="col-2"></td>
            </tr>
            </thead>
            <tbody>

            @foreach (var i in Model)
            {
                <tr>
                    <td>@i.Id</td>
                    <td>@i.Brand</td>
                    <td>@i.Model</td>
                    <td>@i.Price</td>
                    <td>@i.Quantity</td>
                    <td class="col-3">
                        <a class="btn btn-link" asp-area="Backoffice" asp-controller="User" asp-action="Info">Details</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>